@CHARSET "UTF-8";

.center {
	margin: 0px auto;
	background-color: #22DDDD;
	height: 550px;
	width: 800px;
}
.title{
	padding-left: 40px;
	padding-top: 30px;
}

.control {
	margin-bottom: 30px;
	margin-top: 30px;
}

.prompt {
	color: red;
	margin-left: 10px;
}

.foot {
	margin-left: 30px;
	margin-top: 50px;
}

.foot input {
	height: 30px;
	width: 60px;
	margin-right: 20px;
}